<header style="background-color:transparent">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm shadow-sm">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/" class="nav-link navbar-brand">
                    <img src="/img/icons/ModernMAK-Icon.png" alt="Logo" style="object-fit:scale-down; height:32px;" /> ModernMAK
                </a>
            </li>
            <li class="nav-item">
                <a href="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/ModernMAK" class="nav-link">GitHub &nbsp;<i class="bi bi-github"></i></a>
            </li>
        </ul>
    </nav>
</header>
